{{ $item := . }}

{{/* Dynamic view adjusts to content type. */}}
{{ $show_authors_only := false }}{{/* Show authors only or full metadata? */}}
{{ $show_buttons := false }}
{{ $link := $item.RelPermalink }}
{{ $target := "" }}
{{ if $item.Params.external_link }}
  {{ $link = $item.Params.external_link }}
  {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
{{ end }}

{{/* Get subtitle and audio link. */}}
{{ $subtitle := "" }}
{{ if $item.Params.subtitle }}
  {{ $subtitle = $item.Params.subtitle | markdownify | emojify }}
{{ else if .Params.abstract }}
  {{ $subtitle = .Params.abstract | markdownify | emojify }}
{{ else if $item.Truncated }}
  {{ $summary = $item.Subtitle }}
{{ end }}


{{$date := $item.Params.date}}





<div class="card experience course">
  <div class="card-body">

    <h4 class="article-title mb-0 mt-0">
      <a href="{{$link}}" {{ $target | safeHTMLAttr }}>{{ $item.Title }}</a>
    </h4>

    {{ with $subtitle }}
    <div class="card-subtitle my-0 article-metadata">
      {{ . | truncate 135 }}
    {{ end }}

    {{/* page meta-data shows date/lastmod  */}}
    <div class="stream-meta article-metadata">
        {{ partial "page_metadata" (dict "page" $item "is_list" 1) }}
    </div>

     
    <p>   
       {{ with $item.Params.audio_link}}
    <audio controls preload="none" style="width:100%;">
       <source src="{{ . }}" type="audio/mp4" />
       <source src="{{ . }}" type = "audio/ogg" />
       Your browser does not support HTML5 audio.
     </audio>
     {{end}}
    </p>

    </div>



  </div>
 
</div>
